# This configuration file is managed by Ansible. 

[mysqld]
datadir=/data/three-tier-webapp/db
socket=/data/three-tier-webapp/db/mysql.sock
symbolic-links=0

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

# We need to tell clients where the mysql socket is.
[client]
socket=/data/three-tier-webapp/db/mysql.sock

!includedir /etc/my.cnf.d

